name: CICD test pipeline

on:
  push:
    branches: [ "github_action" ]

jobs:
  compile-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: compile with Maven
        run: mvn compile
      
      - name: Run Unit Tests
        run: mvn -B test

      - name: Package Application
        run: mvn -B package

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-package
          path: target/*.jar 



